
.buttons {
    display: inline;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end; /* Adjust the gap between buttons */
    gap: 100px
}


.acc{
    display: inline;
    padding-left: 10px; /* Move text to the right */
    padding-top: 10px; /* Move text down */
}

